/* Reset CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*
1. Vị trí
2. Kích thước
3. Màu sắc
4. Kiểu dáng (kiểu chữ, hình tròn, hình vuông,...)
*/

.clear {
    clear: both;
}

.text-white {
    color: white !important;
}

html {
    font-family: Helvetica,  sans-serif;
}

#app {

}

#header {
    height: 46.5px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    position: fixed;
    background-color: black;
}

#header .search-btn {
    float: right;
}

#header .search-btn:hover {
    background-color: #f44336;
    cursor: pointer;
}

#header .search-icon {
    font-size: 20px;
    line-height: 46.5px;
    padding: 0 21px;
    color: white;
}

#nav {
    display: inline-block;
}

.subnav {
    list-style-type: none;
}

#nav > li {
    display: inline-block;

}

#nav li {
    position: relative;
}

#nav > li > a {
    color: white;
    text-transform: uppercase;
}

#nav li a {
    line-height: 46.5px;
    padding: 0px 24px;
    text-decoration: none;
    display: inline-block;
}

#nav li:hover .subnav {
    display: block;
}

#nav > li:hover > a {
    color: black;
    background-color: #ccc;
}

#nav .subnav li:hover {
    color: black;
    background-color: #ccc;
}

#nav .subnav{
    top: 100%;
    left: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    min-width: 160px;
    background-color: white;
    display: none;
    position: absolute;
}

#nav .subnav a {
    padding: 0 12px;
    line-height: 38px;
    color: black;
}

#nav .arrow-down {
    font-size: 12px;
}

#slider {
    margin-top: 46.5px;
    padding-top: 50%;
    background: url('img/Slider1.jfif') top center / cover no-repeat;
    position: relative;
}

#slider .text-content {
    bottom: 47px;
    width: 100%;
    position: absolute;
    color: white;
    text-align: center;
}

#slider .text-heading {
    font-weight: 500;
    font-size: 24px;
}

#slider .text-description {
    margin-top: 25px;
    font-size: 15px;
}

#content {

}

#content .content-section {
    width: 800px;
    padding: 64px 0;
    margin-left: auto;
    margin-right: auto;
}

#content .section-heading {
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 4px;
    text-align: center;
}

#content .section-sub-heading{
    font-size: 15px;
    margin-top: 25px;
    opacity: 0.6;
    text-align: center;
    font-style: italic;
}

#content .about-text {
    margin-top: 25px;
    font-size: 15px;
    line-height: 1.4;
    text-align: justify;
}

#content .members-list {
    margin-top: 48px;
}

#content .member-avt {
    margin-top: 15px;
    width: 154px;
    height: 154px;
    border-radius: 4px;
}

#content .member-item {
    width: 50%;
    float: left;
    text-align: center;
}

#content .member-name {
    font-size: 15px;
}

.tour-section {
    background-color: black;
}

.ticket-list {
    margin-top: 40px;
    background-color: white;
}

.ticket-list li {
    font-size: 15px;
    padding: 11px 16px;
    color: #757575;
    border-bottom: 1px solid #ddd;
    list-style: none;
}

.ticket-list .Sold-out {
    margin-left: 16px;
    padding: 3px 4px;
    background-color: #f44336;
    color: #fff;
}

.ticket-list .quantity {
    width: 24px;
    height: 24px;
    line-height: 24px;
    border-radius: 50%;
    margin-top: -3px;
    background-color: #000;
    color: #fff;
    text-align: center;
    float: right;
}

.place-list {
    margin: 32px -8px 0;
    padding-bottom: 48px;
}

.place-item {
    width: 33.33333%;
    padding: 0 8px;
    float: left;
}

.place-img {
    width: 100%;
    display: block;
}

.place-img:hover {
    opacity: 0.6;
}

.place-body {
    font-size: 15px;
    padding: 16px;
    background-color: #fff;
}

.place-heading {
    font-size: 15px;
}

.place-time {
    margin-top: 15px;
    color: #757575;
}

.place-description {
    margin-top: 15px;
    line-height: 1.4;
}

.place-buy-btn {
margin-top: 15px;
padding: 11px 16px;
color: #fff;
background-color: #000;
text-decoration: none;
display: inline-block;
}

.place-buy-btn:hover {
    color: #000;
    background-color: #ccc;
}

#footer {

}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    display: none;
    align-items: center;
    justify-content: center;
}

.modal.open {
    display: flex;
}

.modal-container {
    background: #fff;
    width: 900px;
    position: relative;
    max-width: calc(100% - 32px);
    animation: modalFadeIn ease 0.6s;
}

.modal-header {
    background: #009688;
    height: 130px;
    display: flex;align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;
}

.modal-heading-icon{
    margin-right: 16px;
}

.close-btn {
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    padding: 12px;
    opacity: 0.9;
}

.close-btn:hover {
    cursor: pointer;
    opacity: 1;
}

.modal-body {
    padding: 16px;
}

.modal-label {
    display: block;
    font-size: 15px;
    line-height: 1.5;
    margin-bottom: 12px;
}

.modal-input {
    border: 1px solid #ccc;
    width: 100%;
    padding: 10px;
    font-size: 15px;
    margin-bottom: 24px;
}

#tickets {
    background: #009688;
    border: none;
    color: #fff;
    width: 100%;
    font-size: 15px;
    text-transform: uppercase;
    padding: 18px;
}

#tickets:hover {
    cursor: pointer;
    opacity: 0.9;
}

.modal-footer {
    padding: 16px;
    text-align: right;
}

.modal-footer a {
    color: #2196F3;
}

@keyframes modalFadeIn {
    from {
        opacity: 0;
        transform: translateY(-140px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
